@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html {
    overflow-x: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #87cefa;
    margin: 0px;
}
.NoSelect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#Project-ParentTable {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
@media only screen and (min-device-width: 480px) {
    body { height: 100vh; }
    #NavbarContainer {
        background-color: #ffffff;
        opacity: 0.9;
        height: 100vh;
        position: fixed;
        padding: 20px;
    }
    #NavbarContainer h1 { padding-bottom: 20px; }
    .NavbarItem {
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        transition: .3s ease;
    }
    .NavbarItem:hover { transform: translateX(10px); }
    #Content {
        padding: 0px;
        position: absolute;
        padding: 20px;
    }
    .ContentPane {
        background-color:#ffffff;
        opacity: 0.9;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        width: 50%;
    }
    .ContentPane h1 { padding-bottom: 20px; }
    .Project-Child {
        flex: 0 0 30%;
        background-color:#ffffff;
        opacity: 0.9;
        margin: 10px;
        padding: 10px;
        border-radius: 15px;
    }
    h1, h2, h3, h4, h5, h6 { margin:0px; }
    a {
        color: #0000ff;
        text-decoration: none;
        transition: .3s ease
    }
    a:hover { color: #00ccff; }
    ::-webkit-scrollbar { width: 1px; }
    .mobileOnly { display: none; }
}
@media only screen and (max-device-width: 480px) {
    #NavbarContainer {
        width: 100%;
        text-align: center;
        position: fixed;
        background-color: #ffffff;
        font-size: 30px;
        z-index: 5;
    }
    #NavbarItems {
        padding-bottom: 15px;
        font-size: 50px;
    }
    #dropdownMenu {
        position: absolute;
        right: 21px;
        top: 0px;
    }
    #Content {
        padding: 15px;
        width: 100%;
        padding-top: 30px!important;
    }
    #Project-ParentTable {
        text-align: center;
        font-size: 50px;
    }
    .ContentPane {
        background-color:#ffffff;
        opacity: 0.9;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 15px;
        width: calc(100% - 70px)!important;
    }
    .Project-Child {
        width: 100%;
        background-color:#ffffff;
        opacity: 0.9;
        margin: 10px;
        padding: 10px;
        border-radius: 15px;
    }
    a {
        color: #0000ff;
        text-decoration: none;
    }
    .mobileOnly { display: block; }
}