@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html { overflow-x: hidden; }
body::-webkit-scrollbar { display: none; }
body {
    text-align: center;
    font-family: roboto;
    margin: 0px;
}
canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
a {
    text-decoration: none;
    color: rgb(110, 110, 255);
    transition: .1s ease-in-out;
}
a:hover {
    color: rgb(85, 85, 196);
    font-weight: bolder;
}
#title {
    width: 100%;
    height: 100vh;
}
#title > h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
#title > p {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.pageContent {
    background-color: #fff;
    padding: 15px;
}
h1 {
    font-weight: bold;
}
.content {
    font-size: x-large;
    font-weight: bold;
    width: 50%;
    text-align: justify;
    text-align-last: center;
    min-width: 400px;
}

.container {
    display: table;
    border-spacing: 20px 0px;
    margin: 0 auto;
}

.container > div {
    width: 300px;
    user-select: none;
    transition: .3s ease-in-out;
    display: table-cell;
    vertical-align: top;
}
.container > div:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 8px -4px lightblue;
}

.container > div > img {
    width: 100%;
    height: 200px;
}
.container > div > p {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

#contact {margin-bottom: 150px;}
#contact img {
    width: 100px;
    transition: .3s ease-in-out;
    margin: 15px;
}
#contact img:hover { transform: scale(1.1); }

#rocket-container {
    width: 100%;
    margin: 50px 0px;
}
#rocket {
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: inline-block;
}
#rocket:hover {
    transform: rotateZ(270deg);
}
@media only screen and (max-device-width: 480px) {
    .content {
        width: initial!important;
        min-width: 0px!important;
    }
}